skim:
  input_tree: Events
  other_trees:
    - LuminosityBlocks
    - Runs
  sel_ref: selection
  column_filters:
    - drop ^.*_cleanmask$
    - drop Jet_qgl
    - drop Jet_hfsigmaEtaEta
    - drop Jet_hfsigmaPhiPhi
    - drop Jet_hfcentralEtaStripSize
    - drop Jet_hfadjacentEtaStripsSize
    - drop Jet_nMuons
    - drop Jet_muonIdx1
    - drop Jet_muonIdx2
    - drop Jet_nElectrons
    - drop Jet_electronIdx1
    - drop Jet_electronIdx2
    - drop Jet_cRegRes
    - drop Jet_cRegCorr
    - drop Jet_bRegRes
    - drop Jet_bRegCorr
    - drop Jet_btagDeepB
    - drop Jet_btagDeepCvB
    - drop Jet_btagDeepCvL
    - drop Jet_btagCSVV2
    - drop Jet_muonSubtrFactor
    - drop ^(n|)Tau(_.*|)$
    - drop ^(n|)boostedTau(_.*|)$
    - drop ^(n|)Photon(_.*|)$
    - drop ^(n|)LowPtElectron(_.*|)$
    - drop ^(n|)SoftActivityJet(.*|)$
    - drop ^HTXS_.*$
    - drop ^(n|)FsrPhoton(_.*|)$
    - drop ^(n|)GenDressedLepton(_.*|)$
    - drop ^(n|)GenIsolatedPhoton(_.*|)$
    - drop ^(n|)SubJet(_.*|)$
    - drop ^(n|)FatJet(_.*|)$
    - drop ^(n|)GenJetAK8(_.*|)$
    - drop ^(n|)SubGenJetAK8(_.*|)$
    - drop ^(n|)GenProton(_.*|)$
    - drop ^(n|)Proton(_.*|)$
    - drop ^(n|)PPSLocalTrack(_.*|)$
    - drop ^L1_.*$
    - drop ^HLT_.*$
    - keep ^HLT_(|Iso(|Tk))Mu.*$
    - keep ^HLT_Ele.*$

skim_failed:
  input_tree: Events
  output_tree: EventsNotSelected
  sel_ref: selection
  invert_sel: true
  column_filters:
    - drop ^.*$
    - keep ^LHE_.*$
    - keep genWeight
    - keep ^Pileup_(nPU|nTrueInt)$

selection: "
  bool has_pair = nDiDSAMuon > 0 || nDiDSAMuonPat > 0 || nDiSTA > 0 || nDiMuon > 0 || nPatDSAMuon > 0 || nPatDSAMuonPat > 0 || nPatSTA > 0
                  || nEleDSAMuon > 0 || nEleDSAMuonPat > 0 || nEleSTA > 0;
  auto prompt_electrons = Electron_pt > 20 && abs(Electron_eta) < 2.3
                          && abs(Electron_dz) < 0.2 && abs(Electron_dxy) < 0.045
                          && (Electron_mvaIso_WP90 || (Electron_mvaNoIso_WP90 && Electron_pfRelIso03_all < 0.5));
  auto prompt_muons = Muon_pt > 20 && abs(Muon_eta) < 2.4
                      && Muon_mediumId && Muon_pfRelIso03_all < 0.5;
  int n_prompt_electrons = Electron_pt[prompt_electrons].size();
  int n_prompt_muons = Muon_pt[prompt_muons].size();
  return has_pair && (n_prompt_electrons > 0 || n_prompt_muons > 0);
  "